<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Spring Boot Application - Samples</title>
    <meta name="description" content="Sample Spring Boot Application"/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"></link>

    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Spring Boot App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:classAppend="${@menu.isHome()?'active':''}" href="/">Home</a>
                <a class="nav-link" th:classAppend="${@menu.isSecured?'active':''}" href="/secured">Secured</a>
                <a class="nav-link" th:classAppend="${@menu.isMonitoring?'active':''}" target="_blank" href="/monitoring">Monitoring&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
    </div>
</nav>
<main>
    <h1>Samples</h1>
    <div class="container">
        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <input type="submit" class="btn btn-danger" value="Logout"/>
            </form>
            <p>Logged user: <span sec:authentication="name">Bob</span></p>
            <div>Roles:</div>
            <div th:each="role: ${#authentication.authorities}">
                <div th:text="${role}"></div>
            </div>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <div>not logged in</div>
        </div>
    </div>
</main>
</body>
</html>